# CS 109A/AC 209A/STAT 121A Data Science: Final Project
**Harvard University**<br>
**Fall 2016**<br>
**Instructors:** W. Pan, P. Protopapas, K. Rader<br>
**Members: ** Shawn Pan, Xinyuan (Amy) Wang, Ming-long Wu

## Remark ##

- Explore data from calendar_grid

In [1]:
import pandas as pd
import time
from langdetect import detect
import goslate
from matplotlib import dates
import numpy as np
import matplotlib
import matplotlib.pyplot as plt

import scipy as sp
from scipy.stats import mode

%matplotlib inline

In [3]:
# read data
calendar = pd.read_csv('../../Data/calendar_grid.csv', delimiter = ',')

# check data
calendar.head(n=20)

,listing_id,01-01,01-02,01-03,01-04,01-05,01-06,01-07,01-08,01-09,...,12-22,12-23,12-24,12-25,12-26,12-27,12-28,12-29,12-30,12-31
0,3604481,600.0,600.0,600.0,600.0,600.0,600.0,600.0,600.0,600.0,...,600.0,600.0,600.0,600.0,600.0,600.0,600.0,600.0,600.0,600.0
1,2949128,NaN,NaN,NaN,NaN,NaN,100.0,100.0,100.0,100.0,...,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0
2,4325397,100.0,100.0,100.0,100.0,100.0,70.0,70.0,70.0,80.0,...,70.0,70.0,70.0,80.0,80.0,70.0,70.0,70.0,70.0,70.0
3,4325398,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,275.0,275.0,275.0,275.0,275.0,275.0,275.0,275.0,275.0,275.0
4,3426149,NaN,NaN,NaN,NaN,100.0,100.0,NaN,NaN,NaN,...,95.0,95.0,95.0,95.0,95.0,95.0,95.0,95.0,95.0,95.0
5,65562,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,97.0,97.0,97.0,97.0,97.0,97.0,97.0,97.0,97.0,97.0
6,2730672,58.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,58.0,58.0,58.0,58.0,58.0,58.0,58.0,58.0,58.0,58.0
7,4587554,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,55.0,55.0,55.0,55.0,55.0,55.0,55.0,55.0,55.0,55.0
8,819206,NaN,NaN,NaN,70.0,70.0,70.0,70.0,70.0,70.0,...,70.0,70.0,70.0,70.0,70.0,70.0,70.0,70.0,70.0,70.0
9,4849703,NaN,100.0,100.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2359340,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,235.0,235.0,425.0,249.0,249.0,235.0,235.0,235.0,235.0,479.0
11,4653104,150.0,150.0,150.0,NaN,NaN,NaN,NaN,NaN,NaN,...,150.0,150.0,150.0,150.0,150.0,150.0,150.0,150.0,150.0,150.0
12,3276860,NaN,NaN,NaN,450.0,450.0,375.0,375.0,375.0,375.0,...,450.0,450.0,450.0,450.0,450.0,450.0,450.0,450.0,450.0,450.0
13,3604551,150.0,150.0,150.0,150.0,100.0,100.0,100.0,100.0,100.0,...,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0
14,3997768,NaN,42.0,42.0,42.0,42.0,NaN,NaN,NaN,NaN,...,49.0,49.0,49.0,49.0,49.0,49.0,49.0,49.0,49.0,49.0
15,4128844,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,130.0,...,100.0,100.0,100.0,130.0,130.0,100.0,100.0,100.0,100.0,100.0
16,185698,NaN,NaN,NaN,50.0,50.0,50.0,50.0,NaN,NaN,...,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0
17,3866715,350.0,320.0,320.0,320.0,320.0,320.0,320.0,320.0,320.0,...,320.0,320.0,320.0,320.0,320.0,320.0,320.0,320.0,320.0,320.0
18,2752604,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0
19,262238,NaN,NaN,168.0,168.0,168.0,168.0,168.0,168.0,168.0,...,168.0,168.0,168.0,168.0,168.0,168.0,168.0,168.0,168.0,168.0

In [4]:
# check calendar size
calendar.shape

(27392, 366)

In [ ]:






# plot listings vs month
matplotlib.rcParams['font.size'] = 16
fig, ax = plt.subplots(1, 1, figsize=(8, 5))
ax.plot(range(1,13,1), np_mon_count, 'bo-', label = 'listings', alpha = 0.8)
ax.set_xlabel('month', fontsize=16)
ax.set_ylabel('num of listings', fontsize=16)
ax.set_title('num listings vs month (2015)', fontsize=16)
ax.set_xlim([1,12])
plt.xticks(range(1,13,1))
plt.legend(loc = 2, fontsize = 14)
plt.show()