In [2]:
import numpy as np
import pandas as pd
import itertools as it
import matplotlib
import matplotlib.pyplot as plt
import matplotlib.cm as cmx
import matplotlib.colors as colors
import scipy as sp
from itertools import combinations
from sklearn import preprocessing
from sklearn.cross_validation import train_test_split
%matplotlib inline

In [3]:
#read the data
df = pd.read_csv('listings_clean.csv')
print(df.columns.values)
df.head()

['id' 'host_since' 'zipcode' 'latitude' 'longitude' 'property_type'
 'room_type' 'accommodates' 'bathrooms' 'bedrooms' 'beds' 'bed_type'
 'guests_included' 'minimum_nights' 'maximum_nights' 'availability_30'
 'availability_60' 'availability_90' 'availability_365' 'number_of_reviews'
 'first_review' 'last_review' 'review_scores_rating'
 'review_scores_accuracy' 'review_scores_cleanliness'
 'review_scores_checkin' 'review_scores_communication'
 'review_scores_location' 'review_scores_value' 'host_listing_count'
 'price']

,id,host_since,zipcode,latitude,longitude,property_type,room_type,accommodates,bathrooms,bedrooms,...,last_review,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,host_listing_count,price
0,1069266,1926,10022.0,40.756852,-73.964754,0,0,2,1.0,1.0,...,2542.0,86.0,9.0,7.0,9.0,9.0,10.0,9.0,1,160
1,1846722,1625,NaN,40.830599,-73.941014,0,0,10,1.0,3.0,...,2554.0,85.0,8.0,8.0,9.0,8.0,7.0,8.0,2,105
2,2061725,1831,11221.0,40.692189,-73.924120,0,1,2,1.0,1.0,...,2554.0,98.0,10.0,10.0,10.0,10.0,9.0,10.0,4,58
3,44974,953,10011.0,40.734751,-74.002592,0,0,2,1.0,1.0,...,2494.0,96.0,10.0,9.0,10.0,10.0,10.0,9.0,1,185
4,4701675,2479,10011.0,40.745282,-73.997836,0,0,2,1.0,1.0,...,2533.0,100.0,10.0,10.0,10.0,10.0,10.0,10.0,1,195

In [4]:
df.shape

(27392, 31)

### Remove 5% samples from smallest zipcode clusters ###

In [5]:
# remove small zipcode clusters, with 95% data left
# count each zipcode entries
from collections import Counter
nb_counts = Counter(df['zipcode'])
tdf = pd.DataFrame.from_dict(nb_counts, orient='index').sort_values(by=0)
# select clusters >= 50
tdf1 = tdf[tdf.values>=50]
print 'Remaing data proportion: ' + str(float(sum(tdf1.values))/df.shape[0])

zipcode_included = tdf1.index

df1 = df.loc[df['zipcode'].isin(zipcode_included)]
print df1.shape

Remaing data proportion: 0.94976635514
(26016, 31)

In [6]:
y = df1['price']

In [7]:
#Feature Extraction:
#Use the features we decided last time
features = ['zipcode', 'latitude', 'longitude', 'property_type', 'room_type', 'accommodates', 
            'bathrooms', 'bedrooms', 'beds', 'bed_type', 'number_of_reviews', 'review_scores_rating',
            'review_scores_accuracy', 'review_scores_cleanliness', 
            'review_scores_checkin', 'review_scores_communication', 
            'review_scores_location', 'review_scores_value', 'host_listing_count']

df_x = df1[features]
df_x.head()

,zipcode,latitude,longitude,property_type,room_type,accommodates,bathrooms,bedrooms,beds,bed_type,number_of_reviews,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,host_listing_count
0,10022.0,40.756852,-73.964754,0,0,2,1.0,1.0,1.0,0,62,86.0,9.0,7.0,9.0,9.0,10.0,9.0,1
2,11221.0,40.692189,-73.924120,0,1,2,1.0,1.0,2.0,0,35,98.0,10.0,10.0,10.0,10.0,9.0,10.0,4
3,10011.0,40.734751,-74.002592,0,0,2,1.0,1.0,1.0,0,26,96.0,10.0,9.0,10.0,10.0,10.0,9.0,1
4,10011.0,40.745282,-73.997836,0,0,2,1.0,1.0,2.0,0,1,100.0,10.0,10.0,10.0,10.0,10.0,10.0,1
5,11231.0,40.679060,-73.994730,0,0,6,1.0,2.0,3.0,0,16,96.0,10.0,9.0,10.0,9.0,10.0,9.0,2

Now we start imputing missing values. We fill in numerical values with the mean of its columns, fill in categorical values with most common value of its column.

In [8]:
#categorical and numerical column names
cate = ['zipcode', 'property_type', 'room_type', 'bed_type']
nume = [c for c in df_x.columns.values if c not in cate]

#fill categorical with mode, numerical with mean
df_x_cate = df_x[cate].apply(lambda x:x.fillna(x.value_counts().index[0]))
df_x_nume = df_x[nume].apply(lambda x:x.fillna(x.mean()))

df_x = pd.concat([df_x_cate, df_x_nume], axis=1)
df_x.head()

,zipcode,property_type,room_type,bed_type,latitude,longitude,accommodates,bathrooms,bedrooms,beds,number_of_reviews,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,host_listing_count
0,10022.0,0,0,0,40.756852,-73.964754,2,1.0,1.0,1.0,62,86.0,9.0,7.0,9.0,9.0,10.0,9.0,1
2,11221.0,0,1,0,40.692189,-73.924120,2,1.0,1.0,2.0,35,98.0,10.0,10.0,10.0,10.0,9.0,10.0,4
3,10011.0,0,0,0,40.734751,-74.002592,2,1.0,1.0,1.0,26,96.0,10.0,9.0,10.0,10.0,10.0,9.0,1
4,10011.0,0,0,0,40.745282,-73.997836,2,1.0,1.0,2.0,1,100.0,10.0,10.0,10.0,10.0,10.0,10.0,1
5,11231.0,0,0,0,40.679060,-73.994730,6,1.0,2.0,3.0,16,96.0,10.0,9.0,10.0,9.0,10.0,9.0,2

Now we encode categorical variables.

In [9]:
# Get numpy array from data
x = df_x.values

# Apply one hot endcoing
categorical = [(c in cate) for c in df_x.columns]
encoder = preprocessing.OneHotEncoder(categorical_features=categorical, sparse=False)  

x = encoder.fit_transform(x)
x

array([[  0.,   0.,   0., ...,  10.,   9.,   1.],
       [  0.,   0.,   0., ...,   9.,  10.,   4.],
       [  0.,   0.,   0., ...,  10.,   9.,   1.],
       ...,
       [  0.,   0.,   0., ...,   9.,   8.,  15.],
       [  0.,   0.,   0., ...,   9.,  10.,   7.],
       [  0.,   0.,   0., ...,  10.,  10.,   2.]])

In [10]:
print x.shape
print y.shape

(26016, 103)
(26016,)

Now we've already preprocessed data in both files. We could start build models. We split our training dataset into train data and test data.

In [11]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=0)

In [12]:
print 'train data: ', x_train.shape
print 'test data: ', x_test.shape

train data:  (18211, 103)
test data:  (7805, 103)

In [14]:
#OLS
import statsmodels.api as sm
X = sm.add_constant(x_train)
model = sm.OLS(y_train,X)
results = model.fit()
print results.summary()

                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.284
Model:                            OLS   Adj. R-squared:                  0.280
Method:                 Least Squares   F-statistic:                     72.55
Date:                Sun, 27 Nov 2016   Prob (F-statistic):               0.00
Time:                        22:46:42   Log-Likelihood:            -1.2227e+05
No. Observations:               18211   AIC:                         2.447e+05
Df Residuals:                   18111   BIC:                         2.455e+05
Df Model:                          99
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [95.0% Conf. Int.]
------------------------------------------------------------------------------
const      -9.753e+04   1.55e+04     -6.298      0.000     -1.28e+05 -6.72e+04
x1         -1269.5658    220.490     -5.758      0.000     -1701.747  -837.384
x2         -1309.0344    212.972     -6.146      0.000     -1726.481  -891.588
x3         -1285.4773    214.931     -5.981      0.000     -1706.762  -864.193
x4         -1327.4519    218.828     -6.066      0.000     -1756.376  -898.527
x5         -1311.4012    216.589     -6.055      0.000     -1735.936  -886.866
x6         -1288.5579    219.278     -5.876      0.000     -1718.364  -858.752
x7         -1321.0335    212.538     -6.216      0.000     -1737.629  -904.438
x8         -1291.5216    215.834     -5.984      0.000     -1714.576  -868.467
x9         -1299.9493    220.000     -5.909      0.000     -1731.171  -868.728
x10        -1280.8542    216.752     -5.909      0.000     -1705.710  -855.999
x11        -1266.1667    216.909     -5.837      0.000     -1691.330  -841.004
x12        -1277.8288    219.862     -5.812      0.000     -1708.778  -846.879
x13        -1255.4035    215.532     -5.825      0.000     -1677.866  -832.941
x14        -1291.8927    215.785     -5.987      0.000     -1714.852  -868.933
x15        -1338.5244    221.236     -6.050      0.000     -1772.168  -904.881
x16        -1339.4485    221.620     -6.044      0.000     -1773.844  -905.053
x17        -1300.6533    215.375     -6.039      0.000     -1722.809  -878.498
x18        -1245.2063    215.444     -5.780      0.000     -1667.498  -822.915
x19        -1351.4304    222.595     -6.071      0.000     -1787.738  -915.123
x20        -1359.3943    222.989     -6.096      0.000     -1796.473  -922.315
x21        -1378.0261    223.633     -6.162      0.000     -1816.369  -939.683
x22        -1416.1997    221.733     -6.387      0.000     -1850.818  -981.582
x23        -1428.7179    222.806     -6.412      0.000     -1865.439  -991.997
x24        -1318.1286    215.390     -6.120      0.000     -1740.313  -895.944
x25        -1394.8980    217.166     -6.423      0.000     -1820.563  -969.233
x26        -1445.4418    223.261     -6.474      0.000     -1883.054 -1007.830
x27        -1457.0073    225.598     -6.458      0.000     -1899.202 -1014.813
x28        -1464.4069    226.781     -6.457      0.000     -1908.920 -1019.894
x29        -1461.2959    228.860     -6.385      0.000     -1909.884 -1012.708
x30        -1477.0638    230.324     -6.413      0.000     -1928.521 -1025.606
x31        -1394.0788    217.914     -6.397      0.000     -1821.212  -966.946
x32        -1325.0522    221.926     -5.971      0.000     -1760.049  -890.055
x33        -1410.1913    221.324     -6.372      0.000     -1844.008  -976.374
x34        -1287.9393    216.119     -5.959      0.000     -1711.553  -864.326
x35        -1420.8703    224.846     -6.319      0.000     -1861.591  -980.150
x36        -1418.1254    229.656     -6.175      0.000     -1868.273  -967.978
x37        -1296.1012    215.628     -6.011      0.000     -1718.753  -873.449
x38        -1323.0819    215.275     -6.146      0.000     -1745.042  -901.121
x39        -1322.2950    215.890     -6.125      0.000     -1745.460  -899.130
x40        -1158.7868    219.847     -5.271      0.000     -1589.707  -727.866
x41        -1399.1385    228.881     -6.113      0.000     -1847.766  -950.511
x42        -1331.6632    208.033     -6.401      0.000     -1739.428  -923.898
x43        -1329.7066    207.814     -6.399      0.000     -1737.042  -922.372
x44        -1307.5919    203.919     -6.412      0.000     -1707.292  -907.892
x45        -1307.0120    202.196     -6.464      0.000     -1703.336  -910.688
x46        -1340.5719    206.127     -6.504      0.000     -1744.599  -936.544
x47        -1337.2405    207.145     -6.456      0.000     -1743.265  -931.216
x48        -1292.1441    208.842     -6.187      0.000     -1701.494  -882.794
x49        -1268.4610    202.388     -6.267      0.000     -1665.161  -871.761
x50        -1297.3126    198.062     -6.550      0.000     -1685.533  -909.092
x51        -1300.5629    187.027     -6.954      0.000     -1667.155  -933.971
x52        -1334.9059    210.652     -6.337      0.000     -1747.804  -922.008
x53        -1141.4160    190.884     -5.980      0.000     -1515.567  -767.265
x54        -1294.9378    203.314     -6.369      0.000     -1693.452  -896.424
x55        -1275.5624    192.598     -6.623      0.000     -1653.073  -898.052
x56        -1308.7710    203.076     -6.445      0.000     -1706.820  -910.722
x57        -1288.6895    196.299     -6.565      0.000     -1673.453  -903.926
x58        -1303.6326    204.347     -6.380      0.000     -1704.172  -903.093
x59        -1290.3143    197.732     -6.526      0.000     -1677.887  -902.742
x60        -1310.7786    207.844     -6.307      0.000     -1718.173  -903.384
x61        -1290.8764    192.725     -6.698      0.000     -1668.635  -913.117
x62        -1320.6831    205.521     -6.426      0.000     -1723.523  -917.843
x63        -1268.1041    195.120     -6.499      0.000     -1650.557  -885.651
x64        -1249.1291    193.483     -6.456      0.000     -1628.375  -869.883
x65        -1243.6612    193.455     -6.429      0.000     -1622.851  -864.472
x66        -1341.9737    209.430     -6.408      0.000     -1752.476  -931.471
x67        -1291.7113    190.615     -6.777      0.000     -1665.335  -918.088
x68        -1267.5499    192.721     -6.577      0.000     -1645.301  -889.799
x69        -1276.9441    199.700     -6.394      0.000     -1668.375  -885.513
x70        -1301.6223    205.861     -6.323      0.000     -1705.130  -898.115
x71        -1264.9132    195.879     -6.458      0.000     -1648.854  -880.973
x72        -1202.0548    179.929     -6.681      0.000     -1554.733  -849.376
x73        -1290.1196    199.146     -6.478      0.000     -1680.465  -899.774
x74        -1254.7764    190.156     -6.599      0.000     -1627.500  -882.053
x75        -1.629e+04   2581.010     -6.310      0.000     -2.13e+04 -1.12e+04
x76        -1.628e+04   2580.686     -6.309      0.000     -2.13e+04 -1.12e+04
x77        -1.624e+04   2581.205     -6.291      0.000     -2.13e+04 -1.12e+04
x78        -1.628e+04   2581.086     -6.306      0.000     -2.13e+04 -1.12e+04
x79        -1.637e+04   2581.792     -6.339      0.000     -2.14e+04 -1.13e+04
x80        -1.609e+04   2581.310     -6.233      0.000     -2.11e+04  -1.1e+04
x81        -3.247e+04   5162.338     -6.289      0.000     -4.26e+04 -2.23e+04
x82        -3.252e+04   5162.150     -6.300      0.000     -4.26e+04 -2.24e+04
x83        -3.254e+04   5162.106     -6.304      0.000     -4.27e+04 -2.24e+04
x84        -1.951e+04   3097.273     -6.300      0.000     -2.56e+04 -1.34e+04
x85        -1.951e+04   3097.121     -6.301      0.000     -2.56e+04 -1.34e+04
x86        -1.951e+04   3097.389     -6.299      0.000     -2.56e+04 -1.34e+04
x87        -1.948e+04   3097.377     -6.289      0.000     -2.55e+04 -1.34e+04
x88        -1.952e+04   3097.584     -6.301      0.000     -2.56e+04 -1.34e+04
x89         1275.2964    336.299      3.792      0.000       616.118  1934.474
x90        -1554.9197    293.199     -5.303      0.000     -2129.618  -980.221
x91           24.3615      1.586     15.362      0.000        21.253    27.470
x92          131.8704      4.806     27.441      0.000       122.451   141.290
x93           76.5762      3.076     24.896      0.000        70.547    82.605
x94          -19.0543      2.420     -7.875      0.000       -23.797   -14.312
x95           -0.8369      0.080    -10.464      0.000        -0.994    -0.680
x96            0.8712      0.374      2.328      0.020         0.138     1.605
x97            3.1258      2.819      1.109      0.268        -2.400     8.652
x98            3.9739      2.128      1.867      0.062        -0.198     8.146
x99            1.1796      2.984      0.395      0.693        -4.669     7.028
x100           4.2162      3.403      1.239      0.215        -2.454    10.886
x101          -5.2408      2.365     -2.216      0.027        -9.876    -0.605
x102          -6.9687      2.878     -2.421      0.015       -12.610    -1.327
x103          -2.4982      0.705     -3.546      0.000        -3.879    -1.117
==============================================================================
Omnibus:                    34609.074   Durbin-Watson:                   2.019
Prob(Omnibus):                  0.000   Jarque-Bera (JB):         85908363.505
Skew:                          14.626   Prob(JB):                         0.00
Kurtosis:                     338.204   Cond. No.                     1.00e+16
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 2.96e-24. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

R square is 0.284.  There are some strong multicollinearity problems.

In [15]:
#same OLS model with sklearn (easier to score but less detailed)
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(x_train, y_train)
print "Train Score", model.score(x_train, y_train)
print "Test Score", model.score(x_test, y_test)

Train Score 0.283973128565
Test Score 0.312829854813

Interestingly, for this split the test set does better than the training set.

In [18]:
#try several random seeds to check for stability
for r in range(10):
    x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=r)
    model = LinearRegression()
    model.fit(x_train, y_train)
    print "Train Score", model.score(x_train, y_train)
    print "Test Score", model.score(x_test, y_test)

Train Score 0.283973128565
Test Score 0.312829854813
Train Score 0.281662524074
Test Score 0.316130954042
Train Score 0.287655016733
Test Score 0.302602414551
Train Score 0.288089444533
Test Score 0.301531110812
Train Score 0.283100731778
Test Score 0.315763502854
Train Score 0.302153298049
Test Score 0.251528628196
Train Score 0.298675493312
Test Score 0.272780227842
Train Score 0.279662892491
Test Score 0.315626690708
Train Score 0.287012841804
Test Score 0.298952906367
Train Score 0.298008258421
Test Score 0.272040638302

In [19]:
model.coef_

array([  5.39738681e+01,   5.35075285e+00,   3.36541787e+01,
        -3.49029070e+01,   2.95913768e+01,   2.48515860e+01,
         2.56489842e+00,   5.88636554e+01,   3.25314651e+01,
         3.47834719e+01,   7.47707757e+01,   5.58380882e+01,
         8.03189467e+01,   3.59852522e+01,  -1.90212978e+01,
        -2.85968708e+00,   3.90742803e+01,   7.45623442e+01,
        -2.06912957e+01,  -2.74185000e+01,  -6.03512235e+01,
        -8.74780246e+01,  -1.00920572e+02,   5.96497348e+00,
        -6.96207419e+01,  -1.01828481e+02,  -1.23478135e+02,
        -1.22904760e+02,  -1.23417003e+02,  -1.48551276e+02,
        -6.90626552e+01,   2.36918025e+01,  -6.80137758e+01,
         2.50283521e+01,  -1.06078616e+02,  -1.30710888e+02,
         2.53771418e+01,   2.42304776e+00,  -5.67575263e-01,
         1.84465174e+02,  -7.86580617e+01,  -8.75917713e+00,
        -1.79879989e+01,   3.57063175e+00,   3.11305752e+00,
        -2.19057101e+01,  -1.40534587e+01,   3.00617791e+01,
         3.79003915e+01,   1.34923782e+01,   5.21319559e+00,
        -3.70129267e+01,   1.23835278e+02,   1.76037423e+01,
         3.41843577e+01,  -2.08970775e+00,   1.78236113e+01,
         1.42360183e+01,   7.41440517e+00,  -1.16633252e+01,
         1.05697303e+01,  -3.64391974e+00,   3.29916667e+01,
         4.48110612e+01,   5.39780896e+01,  -2.70446207e+01,
         7.04707312e+00,   3.50210967e+01,   3.17299328e+01,
         1.06502970e+01,   3.64151516e+01,   1.05672714e+02,
         2.28887168e+01,   3.68065129e+01,  -1.51424494e+01,
        -1.44808908e+01,   1.74549966e+01,  -1.51046190e+01,
        -1.08276376e+02,   1.35549339e+02,   4.30695289e+01,
        -8.35750401e+00,  -3.47120249e+01,  -6.88534997e+00,
        -4.47375615e+00,  -5.38937671e+00,   2.37569081e+01,
        -7.00842522e+00,   1.05785093e+03,  -1.31456800e+03,
         2.69554734e+01,   1.17452419e+02,   7.74918850e+01,
        -1.65120741e+01,  -8.43763148e-01,   8.29383583e-01,
         3.40759555e+00,   4.47921462e+00,   3.44713459e+00,
         3.35753389e+00,  -4.44313835e+00,  -7.81345211e+00,
        -2.61517545e+00])

We check that the coefficients are reasonable (similar in magnitude).  Before we discarded the zipcodes with only a small number of data points, we observed high variance and numerical instability in the coefficents.