In [1]:
import pandas as pd
import numpy as np
import time
from langdetect import detect
import goslate
from guess_language import guess_language as guess_lan
import enchant

In [2]:
# read data
reviews = pd.read_csv('./Data/reviews.csv')

# check data
reviews.head()

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,1180670,14705995,2014-06-24,10875598,Gregory,"Ok, if you like the location and don't mind an..."
1,4457617,24432844,2014-12-28,24502047,Amber,"Kleine süße WG, super gelegen, sehr freundlich..."
2,722394,9248781,2013-12-16,6821360,Giri,Extremely disappointed.
3,4074444,23983183,2014-12-15,8822691,Wendy,Exactly as described.
4,68046,11797670,2014-04-15,12231047,Virginie,"Appartement très sympa, accueillant. A quelque..."

In [3]:
print(reviews.shape[0])
print(reviews.loc[0]["comments"])

277659
Ok, if you like the location and don't mind an occasional roach.

In [4]:
reviews['null_review']=np.zeros([reviews.shape[0],])
reviews['if_English']=np.zeros([reviews.shape[0],])

In [5]:
def check_null(row):
    
    if pd.isnull(row['comments']) is True:
        return 1
    else:
        return 0

In [6]:
# Clean up 'NaN' rows
reviews['null_review'] = reviews.apply(check_null, axis=1)
reviews = reviews[reviews['null_review'] == 0]
# Check reduced data size
print reviews.shape

(277495, 8)

In [9]:
# check if review is English
def check_if_english1(row):
    in_str = row['comments']
    count_not_en = 0
    words = in_str.split()
    d = enchant.Dict("en_US")
    for idx in range(len(words)):
        if d.check(words[idx]) is False:
            count_not_en += 1
    if float(count_not_en)/len(words) > 0.3:
        return 0
    else:
        return 1

In [10]:
# Check if reviews are English
reviews['if_English'] = reviews.apply(check_if_english1, axis=1)

In [22]:
reviews_cleaned = pd.DataFrame(reviews[reviews['if_English']==1])
reviews_cleaned=reviews_cleaned.drop('null_review', axis = 1)
print reviews_cleaned.shape

(252035, 7)

In [24]:
float(reviews_cleaned.shape[0])/277659

0.9077141385656506

In [28]:
reviews_cleaned[1000:1020]

,listing_id,id,date,reviewer_id,reviewer_name,comments,if_English
1128,65985,5390957,2013-06-27,2940058,Sarah,I so enjoyed my stay at David's place which wa...,1
1129,65985,267165,2011-05-16,587693,Shane,David was the perfect host and Earnest was the...,1
1130,65985,5173454,2013-06-17,4657295,Lena,David has been the perfect host. We highly app...,1
1131,65985,5051846,2013-06-10,5734842,Graham,David is an amazing host! His apartment is ver...,1
1132,65985,4800183,2013-05-27,4973678,Salvatore,David is a fantastic host always happy to help...,1
1133,65985,4591937,2013-05-14,4761088,Augusto,David is a perfect host! His kindness goes bey...,1
1134,65985,4411284,2013-05-03,1694277,Ulrike,"Thanks, David you are a great host and really ...",1
1135,65985,4115244,2013-04-11,3781773,Horst,We really loved staying at David's! He's such...,1
1136,65985,4058239,2013-04-06,4009958,Janis,David's apartment is well kept and easy to get...,1
1137,65985,4040082,2013-04-05,4433748,Jan,David was an amazing host. He was always helpf...,1
1138,65985,3989625,2013-04-01,594740,Tyler,David was an excellent host who was both frien...,1
1139,65985,3951848,2013-03-30,5398154,Mireille,We really enjoyed our stay at David's place. D...,1
1140,65985,3887218,2013-03-25,4754936,Antonia,David was a great host!! His appartment is lov...,1
1141,65985,3804902,2013-03-17,4788650,Elisa,"We had a great stay at David's, the appartment...",1
1142,65985,3747394,2013-03-11,4929238,Melissa,We had a wonderful time at David's apartment. ...,1
1143,65985,252812,2011-05-05,472866,Kevin,David is awesome and very chill ... Ernest is ...,1
1144,65985,3689370,2013-03-04,1360378,Déborah,I had a pleasant stay at David's place. The a...,1
1145,65985,3665548,2013-03-01,5221196,James,This was the first time I had used Airbnb. Eve...,1
1146,65985,3648068,2013-02-27,2081441,Gaëlle,A short but sweet time at David's:\nRicky and ...,1
1147,65985,3517504,2013-02-11,4796927,Maria,Let me preface by stating that my husband and ...,1

In [27]:
reviews_cleaned.to_csv('./Data/reviews_cleaned.csv', sep=',', index = False)